.contenu {
    text-align: center;
}


button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color:var(--noir);
  font-size: 20px;
  border-bottom: 4px solid transparent;
  background-color:var(--blanc);
  border:none;
  margin-bottom: 4vh;
}

button:hover {
  color: var(--vert_fonce);
  border-bottom: 4px solid var(--vert_fonce);
}

#creations {
    width:80vw;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.graphisme {
    width : 25vw;
    margin-bottom: 6vh;
}

.webdesign {
    width:35vw;
    margin-bottom: 6vh;
}


.graphisme .legende, .webdesign .legende {
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    color:var(--vert_fonce);
    opacity: 0;
    /*transition: opacity .5s ease;*/
    position: absolute;
}
  
.graphisme:hover .legende, .webdesign:hover .legende {
    opacity:100%;
}

/*DARKMODE*/
.dark-mode button {
  color:var(--vert_fonce_dm);
  background-color:var(--noir);
}

.dark-mode button:hover {
  color: var(--vert_dm);
  border-bottom: 4px solid var(--vert_dm);
}

.graphisme .legende, .webdesign .legende {
  color:var(--vert_fonce_dm);

}


 /* moyen */
 @media (min-width: 481px) and (max-width: 1200px) {


}

/* petit */
@media (max-width: 480px) { 
  #creations {
    width:90vw;
    flex-direction: column;
  }

  .graphisme {
      width : 90vw;
      margin-bottom: 7vh;
  }

  .webdesign {
      width:90vw;
      margin-bottom: 7vh;
  }


  .graphisme .legende, .webdesign .legende {
    opacity: 100%;

  }
  
}


    
  