
/*footer*/

.footer {
  width:100%;
  margin : 4vh 0;
  margin-left: auto;
  margin-right: auto;
}
  
.footer p {
    font-size: 20px;
    text-align: center;
}

/* petit */
@media (max-width: 480px) { 
  .footer p {
    font-size: 14px;
  }
}


  