
/*header*/

.header_mobile {
  display:none;
}

.header {
  margin-bottom: 10vh;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.header nav {
  flex:1;
  margin-top: 2vh;
}

.header h1 {
  flex:1;
  color: var(--vert);
  padding :0;
  margin:0;
}


.header > div {
  flex:1;
  text-align: right;
}

.header nav ul {
  display: flex;  
  margin-top: 0px;
}

.header nav ul li {
  list-style-type: none;   
  
} 

.header nav ul li a {
  text-decoration:none;
  color: var(--vert);
  font-weight: 800;
  margin: 0 10px;
  border-bottom: 2px solid transparent;
  font-size: 18px;
  
}

.header nav ul li ul {
  display:none;
  text-align: center;
  padding:10px 0px 0px 0px;
  
}

.header nav ul li ul li {
  padding:10px 0px 0px 5px;
  
}

.header #creations:hover ul {
  display: block;
}

.header nav ul li a,
.header nav ul li a:after,
.header nav ul li a:before {
  transition: all .5s;
  
}
.header nav ul li a:hover {			/*changement de couleur*/
  color: var(--vert_fonce);
  border-bottom: 2px solid var(--vert_fonce);
} 

.header div a i {
  font-size:30px;
}

/*DARKMODE*/
.dark-mode div a i{
  color:var(--blanc);
}

#dm {
  position:fixed;
  bottom:50px;
  right:70px;
  font-size:25px;
  color:var(--blanc);
  padding:15px;
  border-radius: 50px;
  background-color:var(--noir);
}

.dark-mode {
  background-color: var(--noir);
  color:var(--blanc);
  transition-duration: 0.5s;
}

.dark-mode p {
  color:var(--blanc); 
}

.dark-mode #dm {
  color:var(--noir);
  background-color: var(--blanc);
  
}

.dark-mode nav ul li a, .dark-mode h1  {
  color:var(--vert_fonce_dm);
}

.dark-mode nav ul li a:hover {
  color:var(--vert_dm);
  border-bottom: 2px solid var(--vert_dm);
}


/* moyen */
@media (min-width: 481px) and (max-width: 1200px) {
  .header nav ul li a {
    font-size: 14px;
  }
}

/* petit */
@media (max-width: 480px) { 
  .header {
    display: none;
  } 
  
  .header_mobile{
    display: flex;
    align-items: center;
  } 
  
  .header_mobile h1{
    color: var(--vert);
  }
  
  .reseaux {
    flex:1;
    display :flex;
  }
  
  .reseaux > a {
    margin : 0 1vw;
    
  }
  .header_mobile >h1 {
    flex:4;
    margin-left:20vw;
    font-size: 20px;
    text-align: center;
  }
  
  /*BURGER*/
  .burger {
    width: 35px;
    height:24px;
    cursor:pointer;
    position:relative;
    position:absolute;
    z-index: 20;
    margin: 0 2vw;
    
  } 
  
  .burger span {
    width: 100%;
    height: 4px;
    background: var(--vert_fonce);
    display: block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    transition: background-color 0.5s  ease-in-out;
  }
  
  .burger span::before, .burger span::after{
    content:"";
    position:absolute;
    width :100%;
    height:4px;
    background-color:var(--vert_fonce);
  }
  
  .burger span::before{
    transform:translateY(-10px);
    transition: transform 0.5s ease-in-out;
  }
  
  .burger span::after{
    transform:translateY(10px);
    transition: transform 0.5s ease-in-out;
  }
  .burger.active span {
    background-color: transparent ;
  }
  
  .burger.active span::before{
    transform:translateY(0px) rotateZ(45deg);
    background-color:var(--blanc);
  }
  
  .burger.active span::after{
    transform:translateY(0px) rotateZ(-45deg);
    background-color:var(--blanc);
  }
  
  
  /*MENU*/
  .menu_mobile{
    flex :2;
    position:fixed;
    left:0;
    background-color:var(--vert_fonce);
    width:75vw;
    height: 112vh;
    
    transition:tranform .5s ease-in-out;
    transform:translateY(-100%);
  }
  
  
  .menu_mobile ul {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
  }
  
  .menu_mobile ul li {
    list-style: none;
    margin: 4vh 0;
  }
  
  .menu_mobile a {
    color:var(--blanc);
    font-weight: 600;
    text-transform: uppercase;
    font-size:20px;
    text-decoration: none;
  }
  
  /*MENU OUVERT*/
  
  .menu_mobile.isOpen {
    transform:translateY(40%);
  }
  
}

