/*index*/

.contenu {
  text-align: center;
}

.contenu > p {
    font-family: 'Bowlby One', cursive;
    text-align: center;
    font-size: 30px;
    color : var(--noir);
   }


.galerie {
    display :flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75vw;
    margin: 0 auto;
}

.galerie > div {
    width: 35vw;
    margin : 2vh 0;
}

    
.contenu .insta {
  width : 70vw;
  margin:0 auto;
  display :flex;
  justify-content: space-between;
  
}
  
.container_insta {
  width: 22vw;
  overflow: hidden;
}

.container_insta a img:hover {
    transform: scale(1.05);
  }
  
.container_insta a img {
  transition: 0.4s; 
}

button {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--vert);
  color:var(--blanc);
  border:none;
  width: 15vw;
  height: 8vh;
  margin : 4vh 2vw;
}
  
button:hover {
    background-color: var(--vert_fonce);
  
   }

/*DARKMODE*/
.dark-mode button {
  background-color: var(--vert_fonce_dm);
  color:var(--blanc);
  
}

.dark-mode button:hover {
  background-color: var(--vert_dm);
  
}


  
 /* moyen */
@media (min-width: 481px) and (max-width: 1200px) {


}

/* petit */
@media (max-width: 480px) { 
  .galerie {
    flex-direction : column;
    width:90vw;
  }

  .galerie > div {
    width: 90vw;
    margin :1vh 0;
  }

  button {
    width: 50vw;
    height: 8vh;
    margin : 4vh 0;
  }

  .contenu .insta {
    width : 90vw;
    flex-direction: column;
    
  }
    
  .container_insta {
    width: 90vw;
  }
}
