/* COLOR */
:root{
    --noir: #1D1D1B;
    --blanc: #fff4de;
    --vert: #00533c;
    --vert_fonce : #00291a;
    --vert_dm :#33DE4D;
    --vert_fonce_dm:#249E37;
    
    
}
/*
font:
font-family: 'Montserrat', sans-serif;
font-family: 'Staatliches', cursive;
font-family: 'Bowlby One', cursive;
*/

body {
    margin : 2vh 3vw;
    background-color:var(--blanc);
    font-family: 'Montserrat', sans-serif;
    transition-duration: 0.5s;
}

h1 {
    font-family: 'Bowlby One', cursive;
    color:var(--noir);
}

p, h3 {
    color: var(--noir);
}

img {
    width : 100%;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: var(--noir);
}

/*DARKMODE*/





/* petit */
@media (max-width: 480px) { 
    body {
        margin:0vh 0vw;
    }
}
