.contenu {
  text-align: center;
  width : 60vw;
  margin : 0 auto;
}

a{
  font-weight: 600;
  text-decoration: none;
  margin : 2vh 2vw;
}

a:hover {
  color:var(--vert_fonce);
  text-decoration: underline 2px var(--vert_fonce);
}

.p {
  width:100%;
}

.img_portrait {
  width :50vw;
  display :flex;
  justify-content: space-between;
  margin : 0 auto;
  margin-bottom: 6vh;
  margin-top: 2vh;
}

.img_portrait > div {
  width : 45%;
  margin:0 auto;
}

.img_paysage {
  margin-top: 2vh;
  width :50vw;
  margin : 0 auto;
}

.img_paysage img {
  margin-bottom: 6vh;
}

/*DARKMODE*/

.dark-mode a{
  color:var(--vert_fonce_dm);
}

.dark-mode a:hover {
  color:var(--vert_dm);
  text-decoration: underline 2px var(--vert_dm);
}


/* moyen */
@media (min-width: 481px) and (max-width: 1200px) {
  
  
}

/* petit */
@media (max-width: 480px) { 
  .contenu {
    width : 90vw;
  }
  
  a{
    margin : 2vh 2vw;
    color:var(--vert_fonce);
    text-decoration: underline 2px var(--vert_fonce);
  }
  
  .img_portrait {
    width :90vw;
    display :flex;
    flex-direction: column;
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  
  .img_portrait > div {
    width : 100%;
  }
  
  .img_paysage {
    margin-top: 1vh;
    width :90vw;
  }
  
  .img_paysage img {
    margin-bottom: 4vh;
  }
  
}