/*propos*/
.bio {
    width:80vw;
    display: flex;
}

.img {
    width : 60vw;
}
.texte {
    margin-left: 2vw;
}

.exp {
    width : 50vw;
}

a{
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    color:var(--vert_fonce);
    text-decoration: underline 2px var(--vert_fonce);
}


input[type=text] {
    font-family: 'Montserrat', sans-serif;
    padding:3vh 15vw 3vh 1vw;
    margin-bottom: 4vh;
    border:none;
}

input[type=email] {
    font-family: 'Montserrat', sans-serif;
    padding:3vh 20vw 3vh 1vw;
    margin-bottom: 4vh;
    border:none;
}

textarea {
    font-family: 'Montserrat', sans-serif;
    padding:3vh 20vw 20vh 1vw;
    margin-bottom: 4vh;
    border:none;
}

input[type=submit] {
    font-family: 'Montserrat', sans-serif;
    padding: 20px 40px 20px 40px;
    margin-bottom: 20px;
    border:none;
    font-weight: 600;
    color: white;
    background-color:var(--vert);
    
}

input[type=submit]:hover {
    background-color:var(--vert_fonce);
    
}

/*DARKMODE*/
input[type=submit] {
    color: white;
    background-color:var(--vert_fonce_dm);
    
}

input[type=submit]:hover {
    background-color:var(--vert_dm);
    
}

.dark-mode a {
    color:var(--vert_fonce_dm);
}

.dark-mode a:hover {
    color: var(--vert_dm);
    text-decoration: var(--vert_dm);
    
}

.dark-mode button {
    background-color: var(--vert_fonce_dm);
    color:var(--blanc);
    
}

.dark-mode button:hover {
    background-color: var(--vert_dm);
    
}





/* moyen */
@media (min-width: 481px) and (max-width: 1200px) {
    .bio {
        width:95vw;
    }
    
    
}

/* petit */
@media (max-width: 480px) { 
    
    .contenu, .contact {
        margin-left:2vw;
    }
    
    .bio {
        flex-direction: column;
    }
    
    .img {
        width : 95vw;
    }
    
    .exp {
        width : 95vw;
    }
}




