 /*menu bis*/

.header nav ul {
  list-style: none;
  text-align: center;
}
.header nav ul li {
  display: inline-block;
}
.header nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  margin: 0 10px;
}
.header nav ul li a,
.header nav ul li a:after,
.header nav ul li a:before {
  transition: all .5s;
}
.header nav ul li a:hover {
  color: #555;
} 

/* stroke */ 
.header nav.stroke ul li a,
.header nav.fill ul li a {
  position: relative;
}
.header nav.stroke ul li a:after,
.header nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #333;
  height: 1px;
}
.header nav.stroke ul li a:hover:after {
  width: 100%;
}

.header nav.fill ul li a {
  transition: all 2s;

